.breadcrum{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-light);
    font-size: 15px;
    font-weight: 500;
    margin: 40px 170px;
    text-transform: capitalize;
}
@media(max-width:1280px){
    .breadcrum{
        margin: 30px 60px;
    }
}
@media(max-width:800px){
    .breadcrum{
        margin: 20px 16px;
        font-size: 13px;
        flex-wrap: wrap;
    }
}
